{% extends "header_footer.html" %}
{% load static %}
{% block page %}


<script type="text/javascript" src='{% static "js/create_new_model.js" %}'></script>
<link rel="stylesheet" type="text/css" href='{% static "css/create_new_model.css" %}'/>


<script type="text/javascript">
    window.onload = () => {
        {% for forbidden_name in context.forbidden_project_names %}
            addToForbiddenNames("{{ forbidden_name }}");
        {% endfor %}
    }
</script>

<div class="create_nm_workspace">

    <form enctype="multipart/form-data" method="post" action="/model_creation_settings" id="create_new_model_form">
    {% csrf_token %}
    <div class="row_">

      <div class="left_">

        <p>Please name your model</p>
        <p>
          <input type="text" name="project_name" placeholder="Name" id="project_name_input"required>
        </p>

      </div>


      <div class="right_">

        <p>Please upload .csv</p>
        <label for="inputFile"><img src='{% static "svg/download_circle.svg" %}'></label>
        <input type="file" name="dataset_source_file" id="inputFile" style="display:none" required>

      </div>


    </div>

        <label for="inputNext" class="cont_button">Continue</label>
        <input class="center_" type="submit" name="dataset_source_file" id="inputNext" style="display:none">


  </form>
    </div>





{% endblock %}