{% extends "header_footer.html" %}
{% load static %}
{% block page %}

<div class="wrapper">



<form enctype="multipart/form-data" method="post" action="/model_creation_settings">
    {% csrf_token %}
    <div class="left">
        <p>Please name your model</p>
    <p>
        <input type="text" name="project_name" value="Name">
    </p>
        </div>

    <div class="right">
    <p>
        <!--<input type="file" name="dataset_source_file" placeholder="Continue">*-->
        <label>Please upload .csv</label>
        <label for="inputFile"><img src='{% static "svg/download_circle.svg" %}'></label>
        <input type="file" name="dataset_source_file" id="inputFile" style="display:none">
    </p>
        </div>
    <div class="bottom">
    <p>


        <label for="inputNext" class="btn btn-info">Continue</label>
        <input type="submit" name="dataset_source_file" id="inputNext" style="display:none">
    </p>
        </div>


</form>

</div>



{% endblock %}