{% extends "base_generic.html" %}
{% load static %}


{% block content %}
<style>

    @import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,500,500i'); /* Import font */

    /* Container needed to position the button. Adjust the width as needed */
    .container {
        position: relative;
        width: 100%;
    }

    /* Make the image responsive */
    .container img {
        width: 100%;
        height: auto;
    }

    /* Style the button and place it in the middle of the container/image */
    /* Поменять все заново */
    .container .btn {
        position: absolute;
        top: 77.3%;
        left: 28%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: white;
        color: black;
        font-size: 16px;
        padding: 12px 24px;

        cursor: pointer;
        border-radius: 5px;
        width: 485px;
        height: 148px;
        flex-shrink: 0;
        border: 2px; /* Параметры рамки */
    }

    .container .btn:hover {
        background-color: #555555;

    }

    .frame2{
        display: inline-flex;
        align-items: flex-start;
        gap: 45px;
        right: 110px;
        top: 52px;
        position: absolute;
    }
    .frame2 .upperbtn {
        color: black;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 400;

        line-height: normal;


    }
</style>


<div class="container">
    <img src='{% static "/images/main_page.jpg" %}' alt="Snow">
    <button class="btn">TUTORIAL</button>

</div>

<div class="frame2">
    <button class="upperbtn" onclick="document.location='login.html'">Login</button>
    <button class="upperbtn" onclick="pass">Tutorial</button>
    <button class="upperbtn" onclick="pass">About Us</button>
</div>

{% endblock %}