{% load static %}

<!--
<style>

  .parent
{
border: 1px solid black;
      height: 100vh;

}
.child
{
margin-right: 40px;
margin-left: 10px;
display: inline-block;


}

 .stretch-card>.card {
     width: 100%;
     min-width: 100%
 }

 body {
     background-color: #f9f9fa
 }

 .flex {
     -webkit-box-flex: 1;
     -ms-flex: 1 1 auto;
     flex: 1 1 auto
 }

 @media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

 .padding {
     padding: 3rem
 }

 .card {
     box-shadow: none;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     -ms-box-shadow: none
 }

 .card {
     position: relative;
     display: flex;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid #3da5f;
     border-radius: 0
 }

 .card .card-block {
    padding: 1.25rem;
}

h6 {
    font-size: 16px !important;
}

.text-c-green {
    color: #2ed8b6;
}

.m-l-10 {
    margin-left: 10px;
}

.proj-progress-card .progress {
    height: 6px;
    overflow: visible;
    margin-bottom: 10px;
}

.proj-progress-card .progress .progress-bar {
    position: relative;
}

.progress .progress-bar {
    height: 100%;
    color: inherit;
}

.bg-c-red {
    background: #FF5370;
}

.proj-progress-card .progress .progress-bar.bg-c-red:after {
    border: 3px solid #FF5370;
}

.proj-progress-card .progress .progress-bar:after {
    content: "";
    background: #fff;
    position: absolute;
    right: -6px;
    top: -4px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.bg-c-blue {
    background: #4099ff;
}

.proj-progress-card .progress .progress-bar.bg-c-blue:after {
    border: 3px solid #4099ff;
}

.proj-progress-card .progress .progress-bar.bg-c-green:after {
    border: 3px solid #2ed8b6;
}

.bg-c-green {
    background: #2ed8b6;
}

.bg-c-yellow {
    background: #FFB64D;
}

.proj-progress-card .progress .progress-bar.bg-c-yellow:after {
    border: 3px solid #FFB64D;
}

.m-b-30 {
    margin-bottom: 30px;
}

.text-c-red {
    color: #FF5370;
}

.child button{
    display: inline;
}

</style>

<div class="parent">

<div class="child">
    <a id="a_{{ learning_model_context.learning_task_id }}">{{learning_model_context.name}}</a>
</div>

<div class="child">


    <p id="{{ learning_model_context.metric_value_element_id }}">0</p>
    <p id="{{ learning_model_context.learning_model_id_value_element_id}}"></p>

    <div class="col-xl-3 col-md-6">
        <h6>Learning process</h6>
        <div class="progress">
            <div class="progress-bar bg-c-green" id="{{ learning_model_context.progress_value_element_id }}" style="width:0%">
            </div>
        </div>
        <p id = "waiting_gpu_response_text">Waiting for GPU machine to response</p>
    </div>
</div>
</div>


СНАЧАЛА

-->
<style>
    .ml_model_learning_block{

        border: 2px black solid;
        margin: 10px;
        border-radius: 15px;
        width: 40%;
        margin-right: 30%;
        margin-left: 30%;
        padding: 5px;
    }
</style>

<div class="ml_model_learning_block" id="ml_model_learning_block_{{ learning_model_context.learning_task_id }}">

   <div style="margin-right:30px; display: inline-block">
       <a id="a_{{ learning_model_context.learning_task_id }}"><b>Name: </b>{{learning_model_context.name}}</a>
       <p id="{{ learning_model_context.metric_value_element_id }}">0</p>
        <p id="{{ learning_model_context.learning_model_id_value_element_id}}"></p>
   </div>


    <div style="display: inline-block">

        <div style="width: 300px;" class="col-xl-3 col-md-6" id="progress_bar_block_{{ learning_model_context.learning_task_id }}">

            <h6>Learning process</h6>

            <div class="progress">
                <div class="progress-bar bg-c-green" id="{{ learning_model_context.progress_value_element_id }}"></div>
            </div>

            <p id="waiting_gpu_response_text">Waiting for GPU machine to response</p>

        </div>

        <div class="ml_model_container" id="hidden_block_{{ learning_model_context.learning_task_id }}" style="display: none;">

            <button type="button" class="btn btn-success" onclick="" id="hidden_view_button_{{ learning_model_context.learning_task_id }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
            <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
            </svg> View results</button>

            <button onclick="" type="button" class="btn btn-outline-danger" id="hidden_delete_button_{{ learning_model_context.learning_task_id }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
            </svg> Delete model </button>
        </div>

    </div>




</div>



