{% load static %}

<style>

  .parent
{
border: 1px solid black;

}
.child
{
margin-right: 40px;
    margin-left: 10px;
display: inline-block;


}

 .stretch-card>.card {
     width: 100%;
     min-width: 100%
 }

 body {
     background-color: #f9f9fa
 }

 .flex {
     -webkit-box-flex: 1;
     -ms-flex: 1 1 auto;
     flex: 1 1 auto
 }

 @media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

 .padding {
     padding: 3rem
 }

 .card {
     box-shadow: none;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     -ms-box-shadow: none
 }

 .card {
     position: relative;
     display: flex;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid #3da5f;
     border-radius: 0
 }

 .card .card-block {
    padding: 1.25rem;
}

h6 {
    font-size: 16px !important;
}

.text-c-green {
    color: #2ed8b6;
}

.m-l-10 {
    margin-left: 10px;
}

.proj-progress-card .progress {
    height: 6px;
    overflow: visible;
    margin-bottom: 10px;
}

.proj-progress-card .progress .progress-bar {
    position: relative;
}

.progress .progress-bar {
    height: 100%;
    color: inherit;
}

.bg-c-red {
    background: #FF5370;
}

.proj-progress-card .progress .progress-bar.bg-c-red:after {
    border: 3px solid #FF5370;
}

.proj-progress-card .progress .progress-bar:after {
    content: "";
    background: #fff;
    position: absolute;
    right: -6px;
    top: -4px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.bg-c-blue {
    background: #4099ff;
}

.proj-progress-card .progress .progress-bar.bg-c-blue:after {
    border: 3px solid #4099ff;
}

.proj-progress-card .progress .progress-bar.bg-c-green:after {
    border: 3px solid #2ed8b6;
}

.bg-c-green {
    background: #2ed8b6;
}

.bg-c-yellow {
    background: #FFB64D;
}

.proj-progress-card .progress .progress-bar.bg-c-yellow:after {
    border: 3px solid #FFB64D;
}

.m-b-30 {
    margin-bottom: 30px;
}

.text-c-red {
    color: #FF5370;
}

</style>

<div class="parent">
<div class="child">
    <a id="a_{{ learning_model_context.learning_task_id }}">{{learning_model_context.name}}</a>
</div>
    <div class="child">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/></svg>
    </div>
    <p id="{{ learning_model_context.metric_value_element_id }}">0</p>
    <p id="{{ learning_model_context.learning_model_id_value_element_id}}"></p>


    <div class="col-xl-3 col-md-6">
        <h6>Learning process</h6>
        <div class="progress">
            <div class="progress-bar bg-c-green" id="{{ learning_model_context.progress_value_element_id }}" style="width:0%">
        </div>

    </div>
        <p id = "waiting_gpu_response_text">Waiting for GPU machine to response</p>
</div>
    </div>