{% extends "header_footer.html" %}

{% block title %} <title>Tutorial</title> {% endblock %}

{% block page %}

<style>
    .video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
</style>
<div class="video-container">
  <iframe width="560" height="320" src="https://www.youtube.com/embed/x4HRDgDme-Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

{% endblock %}