{% extends "header_footer.html" %}
{% load static %}


{% block page %}

<link rel="stylesheet" type="text/css" href='{% static "css/workspace_template.css" %}'/>
<script type="text/javascript" src='{% static "/js/workspace_scripts.js" %}'></script>


{% if not context.request.user.is_authenticated %}
    <p>current user is not authenticated</p>
{% endif %}



<div class="parent_workspace_template">

    <div class="top_elements">
        <button onclick="redirectToModelCreation()"><p>Create a new model</p></button>
        <h1>Here is the list of your models</h1>
    </div>

    <div class="title_description">
        <p>Title</p>
        <p>Status</p>
    </div>
    {% for model_context_object in context.ml_model_contexts%}
        {% include "ml_model.html" with model_context=model_context_object %}
    {% endfor %}
</div>





{% endblock %}