.wrapper{
    display: flex;


}

.inner{
    position: relative;
    display: flex;
}

.click_ml_login{
    position: absolute;


    width: 329px;
    height: 53px;
    flex-direction: column;
    flex-shrink: 0;

    color: #FFF;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 15%;
    margin-top: 20%;

}
.left{
    display: inline-block;



    background: #274758;

    height: 100vh;


}

.right{
    display: inline-block;

    margin-top:10%;
    margin-left: 20px;


}

.right h1{
    color: var(--text, #0B1B23);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.right p{
    color: var(--text, #0B1B23);
    text-align: right;

    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    display: flex;

    height: 27px;
    flex-shrink: 0;

    margin-top:10px;
    }

.right a{
    color: black;
    font-size: 25px;
}

.right .input_button{
    outline: none;
    background: white;


    border: 1px solid black;

    margin-top:25px;

    color: var(--text, #0B1B23);
    text-align: center;

    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    margin-left: 50%;
}


.sign_up_text{
    display: inline-block;


}

.right .lost_pwd{
    margin-top:25px;
    margin-left:50%;
}

.right table{
    font-size: 25px;
}

