<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>click-ml.ru</title>
</head>
<body>

<header>
    <nav>
        <button class="btn active" onclick="showPage('page1')">Log in</button>
    </nav>
</header>

<main>

    <h1>click-ml</h1>
    <p>Description</p>
    <button class="btn active" onclick="showPage('page2')">Start</button>
    <p>How it works?</p>
    <p>How to start?</p>
    <button class="btn active" onclick="showPage('page3')">Tutorial</button>

    <!-- содержимое каждой страницы -->
    <div id="page1">
        <h1>Log in</h1>
        <p>Enter your login and password</p>
    </div>
    <div id="page2" style="display:none">
        <h1>Create account right now!</h1>
        <p>Sign in and try one click-ml</p>
    </div>
    <div id="page3" style="display:none">
        <h1>Tutorial</h1>
        <p>How to work with our service</p>
    </div>

</main>

<script>
    function showPage(pageName) {
        var i, pageContent, btns;
        pageContent = document.getElementsByTagName("div");
        for (i = 0; i < pageContent.length; i++) {
            if (pageContent[i].id === pageName) {
                pageContent[i].style.display = "block";
            } else {
                pageContent[i].style.display = "none";
            }
        }
        btns = document.getElementsByClassName("btn");
        for (i = 0; i < btns.length; i++) {
            btns[i].classList.remove("active");
        }
        event.currentTarget.classList.add("active");
    }
</script>
</body>
</html>